* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: white;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 20px 40px;

  background: #1e1b4b;

  border-bottom: 3px solid #8b5cf6;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #c4b5fd;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;

  padding: 10px 15px;

  border-radius: 20px;

  transition: 0.3s;
}

.nav-links a:hover {
  background: #8b5cf6;
}


.card-container {
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;

  gap: 20px;

  padding: 70px 30px;
}




.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: 250px;
  min-height: 250px;

  padding: 30px;

  color: white;
  text-decoration: none;

  border-radius: 25px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4);

  transition: 0.3s;
}


/* Hover effect */

.card:hover {
  transform: translateY(-10px);

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.5);
}


/* Different card colors */

.card-purple {
  background: linear-gradient(
    135deg,
    #8b5cf6,
    #4c1d95
  );
}

.card-blue {
  background: linear-gradient(
    135deg,
    #06b6d4,
    #1e3a8a
  );
}

.card-pink {
  background: linear-gradient(
    135deg,
    #ec4899,
    #831843
  );
}

.card-orange {
  background: linear-gradient(
    135deg,
    #f97316,
    #9a3412
  );
}


.card h2 {
  font-size: 25px;
}

.card p {
  color: #f1f5f9;
  line-height: 1.5;
}



.content-section {
  min-height: 40px;

  margin: 30px;

  padding: 60px;

  background: black;

  border-radius: 35px;

  

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.3);
}

.content-section h2 {
  margin-bottom: 15px;

  font-size: 40px;

  color: #c4b5fd;
}

.content-section p {
  color: #cbd5e1;

  font-size: 18px;
}
